.main-homecontainer {
    font-family: 'Roboto', sans-serif;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    padding: 20px;
    width: 800px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.wave-icon {
    display: inline-block;
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


.info h1 {
    font-size: 3rem;
    margin: 0;
}

.info h2 {
    font-size: 1.5rem;
    margin: 2 0;
}

.mini-bio div {
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
}

.mini-bio div:hover {
    transform: translateY(-5px);
}


.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-top: 20px;
}

.socials a {
    color: inherit;
    font-size: 1.6rem;
}

.socials a:hover {
    color: grey;
    transition: 0.3s ease-in-out;
}

.image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: #a5c1e14d 0px 0px 0px 7px;
}

/* For desktop screens */
.name h1{
    margin: 0;
    font-size: 3rem;
}

.position h2{
    margin: 0;
    font-size: 1.5rem;
}

/* For tablet screens */
@media (max-width: 768px){
    .name h1{
        font-size: 2.5rem;
    }

    .position h2{
        font-size: 1.2rem;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .name h1 {
        font-size: 2rem;
    }

    .position h2 {
        font-size: 1rem;
    }
}